

// --Mixins
@mixin customScrollBar{
    /* width */
    ::-webkit-scrollbar {
        width: 3px;
        cursor:pointer;
    }
    /* Track */
    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px rgb(153, 151, 151);
        border-radius: 5px;

    }
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: rgb(44, 43, 43);
        border-radius: 10px;
        cursor: pointer;
    }
}


:root{
    @include customScrollBar;
}
.app_info{
    display: block;
    text-align: center;
    margin-bottom: 5px;
}
//-------------------[ Chat element Area ]----------------------
.chatWrapper{
    margin-top: 2vh;
}
.chatWrapper ul{
    display: flex;
    flex-direction:column;

    height: 70vh;
    padding: 0;
    list-style: none;
    overflow-y: auto;
    border-radius: 5px;
    background-color: rgb(232, 235, 235);
    box-shadow: 0px 2px 7px -3px rgba(0,0,0,0.75);
}

.chatWrapper ul, .formWrapper form, .app_Info{
    width: 80vw;
    max-width: 700px;
    min-width: 250px;
    margin: auto;
}


.msg_standart, .msg_inProgress  {
    display: inline-block;
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
    white-space: pre-line;

    width: auto;
    min-width: 150px;
    max-width: 45%;

    font-size: 18px;
    background-color: rgb(207, 222, 224);

    .msg_name{
        font-size: 0.9em;
        color: rgb(110, 155, 7);
    }
    .msg_time{
        font-size: 0.7em;
    }
    .msg_text{
        margin-top: 7px;
        word-wrap: break-word;
    }

}

.msg_user   {
    float:right;
    background-color: rgb(55, 127, 235);
    color: rgb(236, 236, 236);

    .msg_name{
        color: rgb(244, 248, 10);
    }
}
.msg_inProgress{

    float:right;
    text-align: center;
    background-color: rgb(184, 192, 202);
    color: rgb(229, 238, 238);

}

//--[ Send message form ]

.formWrapper{
    margin-top: 20px;

    form{
        display: flex;
        justify-content: center;

        .inpName, .inpMsg {
            margin: 0 8px 0 8px;
            border: none;
            border-bottom: 1.3px solid rgb(150, 146, 146);
            outline: none;
        }
    }
}
.inpName{

    flex-basis: 10%;
    min-width: 30px;
    max-width: 100px;
    font-weight: bold;
    color: rgb(12, 99, 199);
}
.inpMsg{
    flex-grow: 8;
    height: 20px;
}

